.limit-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


.btn {
    padding: 20px 30px;
    background-color: $yellow;
    color: $bgc;
    border: 1px solid $yellow;
    font-family: "Gotham";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.38px;
    border-radius: 5px;
    transition: .3s;
    text-decoration: none;


    &:hover {
        background-color: transparent;
        color: $white;
    }

    &.btn-small {
        padding: 10px 15px;
    }
}

.anim {
    position: relative;
    transition: all .2s linear;
    text-align: center;
    width: 100px;




}



.row {
    text-align: center;
    margin: 0 20px 50px 20px;

    .row-title {
        font-size: 36px;
        font-family: "Gotham", sans-serif;
        color: $yellow;
        line-height: 55px;
        font-weight: 700;

        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            font-family: "Gotham", sans-serif;
            font-size: 38px;
            font-weight: bolder;
            color: $titleAfter;
            // content: "O mnie";
            text-transform: uppercase;
            z-index: -10;

            @media(min-width: 768px) {
                font-size: 72px;
            }

            @media(min-width: 992px) {
                letter-spacing: 7px;
                font-size: 82px;
            }

            @media(min-width: 1200px) {
                font-size: 98px;
                letter-spacing: 10px;
            }
        }

        &.light {
            color: $bgc;
        }


    }

    .row-subtitle {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}

.section-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
}

.new-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



    @media(min-width:768px) {
        flex-direction: row;
    }
}

.socials {
    margin-top: 30px;
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;

    a {
        position: relative;
        z-index: 1;
        height: 40px;
        width: 40px;
        border: 2px solid $white;
        border-radius: 50%;
        transition: .3s;
        opacity: .4;

        &:hover {
            opacity: 1;

        }

        i {
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }

    }
}