.contact {
    background-color: $bgc2;

    .row-title {
        &:after {
            content: "Contact";
        }
    }

    
    .new-container {
        flex-direction: column;

        @media (min-width:992px) {
            flex-direction: row;
        }
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: $base-p;


        @media(min-width:768px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 50px;

        }

        .photo {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $yellow;
            margin-bottom: 30px;

            @media(min-width:768px) {
                margin-bottom: 0;
            }

            .img1 {
                width: 100%;
                height: auto;
                display: none;

                @media(min-width:768px) {
                    display: inline-block;
                }
            }

            .img2 {
                width: 100%;
                height: auto;
                display: inline-block;

                @media(min-width:768px) {
                    display: none;
                }
            }
        }


        .contact-icon {
            margin-bottom: 20px;
            cursor: pointer;

            &:hover {

                .contact-info {
                    color: $yellow;
                }

                .contact-info-small {
                    color: $white;
                    opacity: 1;
                }

            }

            @media(min-width:768px) {
                margin-bottom: 0px;

            }


            i {
                padding-right: 20px;
            }

            .contact-info {
                font-size: 18px;
                color: $white;
                text-transform: uppercase;
                font-family: "Gotham", sans-serif;
                line-height: 30px;


                @media(min-width: 768px) {
                    line-height: 55px;

                }
            }

            .contact-info-small {
                color: $white;
                opacity: 0.5;
                font-size: 14px;
            }
        }
    }


    .map {
        width: 90%;
        order: 2;

        iframe {
            width: 100%;
            height: 100%;
            min-height: 400px;
        }

        @media(min-width:992px) {
            width: 50%;
            padding: 0 25px 0 20px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        padding-bottom: 50px;
        order: 1;
        width: 90%;

        @media(min-width:992px) {
            order: 2;
            padding: 0 20px 0 25px;
            padding-bottom: 0;
            width: 50%;
        }

        input,
        textarea {
            padding: 10px;
            border: none;
            font-size: 18px;
            font-family: "GothamBook", sans-serif;
            background-color: $white;
            &:focus {
                outline: none;
            }
        }

        .name,
        .email {
            background-color: $white;
            &:focus {
                outline: none;
            }

            &.verify {
                background: url('../img/verif.png');
                background-repeat: no-repeat;
                background-position: right;
                background-color: $white;
            }
        }
        .btn-small {
            &:focus {
                outline: none;
            }
        }

        .form-help-message {
            color: red;
            font-size: 12px;
            font-style: italic;
            letter-spacing: 1.4px;
            &.hide {
                visibility: hidden;
            }
            
        }


    }

    .form-sent {
        padding-top: 20px;
        text-align: center;
        color: $yellow;
        display: none;

        &.show {
            display: block;
        }

        i {
            color: green;
            font-size: 24px;
        }
    }
}