footer {
    background-color: $bgc;

    .footer-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        @media(min-width: 768px) {
            flex-direction: row;
        }

        .copyright {
            color: $white;
            margin: 20px 50px;
            order: 2;
            text-align: center;

            @media(min-width: 768px) {
                margin: 0;
                order: 1;
            }


            .yellow {
                color: $yellow;
            }
        }
    }

    .socials {
        margin: 20px;
        margin-bottom: 0px;

        order: 1;

        @media(min-width: 768px) {
            margin: 0;
            order: 2;
        }
    }
}