@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gotham-Book-Font/Gotham\ Book\ Font.otf') format('woff2'),
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Font/GothamMedium.ttf') format('woff2');
}




html {
    font-family: 'GothamBook', sans-serif;
    scroll-behavior: smooth;
}