@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/Gotham-Book-Font/Gotham Book Font.otf") format("woff2");
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Font/GothamMedium.ttf") format("woff2");
}

html {
  font-family: 'GothamBook', sans-serif;
  scroll-behavior: smooth;
}

.limit-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 20px 30px;
  background-color: #fdc66a;
  color: #0c0c0c;
  border: 1px solid #fdc66a;
  font-family: "Gotham";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.38px;
  border-radius: 5px;
  transition: .3s;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.btn.btn-small {
  padding: 10px 15px;
}

.anim {
  position: relative;
  transition: all .2s linear;
  text-align: center;
  width: 100px;
}

.row {
  text-align: center;
  margin: 0 20px 50px 20px;
}

.row .row-title {
  font-size: 36px;
  font-family: "Gotham", sans-serif;
  color: #fdc66a;
  line-height: 55px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.row .row-title:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  font-family: "Gotham", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #181818;
  text-transform: uppercase;
  z-index: -10;
}

@media (min-width: 768px) {
  .row .row-title:after {
    font-size: 72px;
  }
}

@media (min-width: 992px) {
  .row .row-title:after {
    letter-spacing: 7px;
    font-size: 82px;
  }
}

@media (min-width: 1200px) {
  .row .row-title:after {
    font-size: 98px;
    letter-spacing: 10px;
  }
}

.row .row-title.light {
  color: #0c0c0c;
}

.row .row-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.section-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .new-container {
    flex-direction: row;
  }
}

.socials {
  margin-top: 30px;
  display: flex;
}

.socials a {
  margin: 20px;
  margin-left: 0;
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 1px solid #333333;
  border-radius: 50%;
  transition: .3s;
}

.socials a:hover {
  background-color: #fdc66a;
}

.socials a i {
  color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0c0c0c;
  z-index: 1000;
}

.loader-bg.hide {
  display: none;
}

.loader-bg .loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top: 40%;
  left: 0%;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

nav {
  background-color: #0c0c0c;
}

nav .navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav .navbar .nav-brand {
  z-index: 110;
}

nav .navbar .nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  transition: .3s;
  z-index: 100;
  background-color: rgba(12, 12, 12, 0.7);
  transform: translateY(-120%);
}

@media (min-width: 768px) {
  nav .navbar .nav-links {
    position: static;
    top: 0;
    width: initial;
    flex-direction: row;
    padding: 0;
    transform: translateY(0);
  }
}

nav .navbar .nav-links.open {
  transform: translateY(0);
}

@media (min-width: 768px) {
  nav .navbar .nav-links.open {
    transform: translateY(0);
  }
}

nav .navbar .nav-links .nav-item {
  margin: 30px 15px;
  position: relative;
  z-index: 2;
}

nav .navbar .nav-links .nav-item.active a {
  color: #fdc66a;
}

nav .navbar .nav-links .nav-item::before {
  position: absolute;
  top: -180%;
  left: -80%;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
  z-index: -1;
  color: #fdc66a;
  opacity: 0;
  transition: .3s;
}

@media (min-width: 768px) {
  nav .navbar .nav-links .nav-item::before {
    display: none;
  }
}

nav .navbar .nav-links .nav-item:hover::before {
  opacity: 0.1;
}

nav .navbar .nav-links .nav-item:nth-child(1)::before {
  content: "HOME";
}

nav .navbar .nav-links .nav-item:nth-child(2)::before {
  content: "OMNIE";
}

nav .navbar .nav-links .nav-item:nth-child(3)::before {
  content: "UMIEJĘTNOŚCI";
}

nav .navbar .nav-links .nav-item:nth-child(4)::before {
  content: "PROJEKTY";
}

nav .navbar .nav-links .nav-item:nth-child(5)::before {
  content: "KONTAKT";
}

@media (min-width: 992px) {
  nav .navbar .nav-links .nav-item {
    margin: 30px 25px;
  }
}

nav .navbar .nav-links .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav .navbar .nav-links .nav-item .nav-link.active {
  color: #fdc66a;
}

nav .navbar .nav-links .nav-item .nav-link.active:hover {
  color: #fcb338;
}

nav .navbar .nav-links .nav-item .nav-link:hover {
  color: #feedcf;
}

nav .navbar .nav-button {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: .3s;
  position: fixed;
  top: 20px;
  right: 10px;
}

nav .navbar .nav-button .btn-line {
  height: 2px;
  width: 26px;
  background-color: white;
  margin: 3px;
  transition: .3s;
}

nav .navbar .nav-button .btn-line:nth-child(1) {
  width: 12px;
}

nav .navbar .nav-button .btn-line:nth-child(2) {
  width: 20px;
}

nav .navbar .nav-button .btn-line:nth-child(3) {
  width: 26px;
}

nav .navbar .nav-button.open .btn-line:nth-child(1) {
  width: 26px;
}

nav .navbar .nav-button.open .btn-line:nth-child(2) {
  width: 20px;
}

nav .navbar .nav-button.open .btn-line:nth-child(3) {
  width: 12px;
}

@media (min-width: 768px) {
  nav .navbar .nav-button {
    display: none;
  }
}

header {
  background-color: #0c0c0c;
  min-height: 90vh;
  overflow: hidden;
}

header .heading {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

@media (min-width: 768px) {
  header .heading {
    grid-template-columns: repeat(2, 1fr);
    margin: 140px 0;
  }
}

header .heading .heading-main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0;
  order: 2;
  position: relative;
}

@media (min-width: 768px) {
  header .heading .heading-main {
    order: 1;
  }
}

header .heading .heading-main .main-welcome {
  font-size: 24px;
  line-height: 55px;
  font-weight: 400;
}

header .heading .heading-main .main-name {
  font-family: "Gotham";
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
}

header .heading .heading-main .main-name span {
  color: #fdc66a;
}

header .heading .heading-main .main-prof {
  font-family: "Gotham";
  font-weight: 500;
  line-height: 30px;
  font-size: 30px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header .heading .heading-main .main-prof {
    line-height: 55px;
  }
}

header .heading .heading-main .btn {
  padding: 20px 40px;
}

header .heading .img {
  display: none;
  order: 1;
  text-align: center;
  position: relative;
  z-index: 2;
  max-width: 100%;
  border-bottom: 2px solid #fdc66a;
}

@media (min-width: 768px) {
  header .heading .img {
    display: block;
  }
}

header .heading .img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  border: 5px solid #fdc66a;
  opacity: 1;
  transform: translate(-40%, -60%) rotate(-20deg);
  z-index: -1;
}

@media (min-width: 768px) {
  header .heading .img {
    order: 2;
  }
}

header .page-up {
  position: fixed;
  bottom: 20px;
  right: 0px;
  color: #fdc66a;
  background-color: #0c0c0c;
  width: 30px;
  padding: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 5px;
  border: 3px solid #fdc66a;
  transform: translateX(100%);
  transition: .5s;
}

header .page-up.show {
  transform: translateX(10%);
  z-index: 1000;
}

.jumbotron {
  background-color: #fdc66a;
  padding: 50px 0;
}

.jumbotron .row {
  margin-bottom: 0;
}

.jumbotron .row .row-title {
  color: #0c0c0c;
}

.jumbotron .jumbo-info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jumbotron .jumbo-info .jumbo-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 55px;
}

.jumbotron .jumbo-info .jumbo-subtitle {
  line-height: 30px;
  margin-bottom: 50px;
}

.jumbotron .btn {
  background-color: #0c0c0c;
  color: #fff;
  border: 1px solid #0c0c0c;
}

.jumbotron .btn:hover {
  background-color: #fdc66a;
  border: 1px solid #0c0c0c;
  color: #0c0c0c;
}

.jumbo-img {
  border-bottom: 2px solid #0c0c0c;
  display: none;
}

@media (min-width: 768px) {
  .jumbo-img {
    display: block;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  transition: .3s;
}

.icon img {
  border: 1px solid #fdc66a;
  border-radius: 50%;
  padding: 20px;
}

.icon:hover {
  transform: scale(1.05);
}

.icon:hover img {
  border: 1px solid #0c0c0c;
}

.icon .interests {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 24px;
  text-transform: capitalize;
}

.about {
  background-color: #111111;
}

.about .row-title:after {
  content: "About";
}

.about .about-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 992px) {
  .about .about-img {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.about .about-img img {
  border-bottom: 2px solid #fdc66a;
}

.about .about-info {
  padding: 20px;
  width: 80%;
}

@media (min-width: 768px) {
  .about .about-info {
    width: 100%;
  }
}

.about .about-info .title-text {
  color: #fdc66a;
  font-family: "Gotham", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 55px;
}

.about .about-info .info {
  color: #fff;
  font-family: "GothamBook";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

.about .about-info .info-yellow {
  font-size: 24px;
  color: #fdc66a;
  margin-bottom: 30px;
}

.about .about-info .sign {
  margin: 10px 0 40px 0;
}

.about .about-info .btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 992px) {
  .about .about-info .btn-container {
    flex-direction: row;
  }
}

.about .about-info .btn-container .btn {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about .about-info .btn-container .btn {
    margin-right: 40px;
  }
}

.skills {
  background-color: #0c0c0c;
}

.skills .row-title:after {
  content: "Skills";
}

.skills .icons-container {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media (min-width: 768px) {
  .skills .icons-container {
    width: 100%;
  }
}

.skills .icons-container .skills-single-icon {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.skills .icons-container .skills-single-icon:nth-child(7) {
  background-color: white;
}

.skills .icons-container .skills-single-icon:nth-child(8) {
  background-color: white;
}

.skills .icons-container .skills-single-icon img {
  width: 100%;
}

.skills .progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 80%;
}

.skills .progress-container .technology,
.skills .progress-container .description {
  color: #fff;
}

.skills .progress-container .description {
  line-height: 20px;
}

.skills .progress-container .technology {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 55px;
}

.skills .progress-container .description {
  margin-bottom: 100px;
}

.skills .progress-container .progress-bar {
  height: 8px;
  border: 1px solid #111111;
  background-color: #fff;
  border-radius: 5px;
}

.skills .progress-container .progress-bar .content {
  width: 80%;
  height: 100%;
  background-color: #fdc66a;
  position: relative;
  transition: 1s;
}

.skills .progress-container .progress-bar .content .procent {
  position: absolute;
  top: -30px;
  right: -30px;
  color: #fff;
}

.features {
  background-color: #0c0c0c;
}

.features .row-title:after {
  content: "Features";
}

.features .features-icon {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.features .features-icon:hover {
  box-shadow: 5px 5px 8px 0px rgba(255, 255, 255, 0.75);
  background-color: #111111;
  transform: translateY(-2px);
}

.features .features-icon .features-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fdc66a;
  line-height: 55px;
}

.projects {
  background-color: #111111;
  padding-bottom: 50px;
}

.projects .row-title:after {
  content: "Projects";
}

.projects .row {
  margin-bottom: 0;
}

.projects .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.projects .swiper-container .swipe-sideways {
  position: absolute;
  top: 0;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  display: flex;
}

.projects .swiper-container .swipe-sideways p {
  margin: 0 20px;
}

.projects .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
  background-color: #0c0c0c;
  overflow: hidden;
  padding: 20px;
}

@media (min-width: 768px) {
  .projects .swiper-slide {
    width: 500px;
  }
}

.projects .swiper-slide .imgBox {
  width: 100%;
}

.projects .swiper-slide .imgBox img {
  width: 100%;
}

.projects .swiper-slide .details {
  color: #fff;
}

.projects .swiper-slide .details .details-title {
  color: #fdc66a;
  font-size: 28px;
  line-height: 30px;
  font-family: "Gotham", sans-serif;
  margin-bottom: 10px;
}

.projects .swiper-slide .details .details-subtitle {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
}

.projects .swiper-slide .details .details-desc {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.projects .swiper-slide .details .details-desc .yellow {
  color: #fdc66a;
  font-weight: bold;
}

.projects .swiper-slide .view-project {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}

.projects .swiper-slide .view-project .code,
.projects .swiper-slide .view-project .live {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.projects .swiper-slide .view-project .code i,
.projects .swiper-slide .view-project .live i {
  font-size: 24px;
  padding: 10px;
}

.projects .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}

.projects .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fdc66a;
}

.contact {
  background-color: #111111;
}

.contact .row-title:after {
  content: "Contact";
}

.contact .contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

@media (min-width: 768px) {
  .contact .contact-details {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
}

.contact .contact-details .photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fdc66a;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contact .contact-details .photo {
    margin-bottom: 0;
  }
}

.contact .contact-details .photo .img1 {
  width: 100%;
  height: auto;
  display: none;
}

@media (min-width: 768px) {
  .contact .contact-details .photo .img1 {
    display: inline-block;
  }
}

.contact .contact-details .photo .img2 {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (min-width: 768px) {
  .contact .contact-details .photo .img2 {
    display: none;
  }
}

.contact .contact-details .contact-icon {
  margin-bottom: 20px;
  cursor: pointer;
}

.contact .contact-details .contact-icon:hover .contact-info {
  color: #fdc66a;
}

.contact .contact-details .contact-icon:hover .contact-info-small {
  color: #fff;
  opacity: 1;
}

@media (min-width: 768px) {
  .contact .contact-details .contact-icon {
    margin-bottom: 0px;
  }
}

.contact .contact-details .contact-icon i {
  padding-right: 20px;
}

.contact .contact-details .contact-icon .contact-info {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham", sans-serif;
  line-height: 30px;
}

@media (min-width: 768px) {
  .contact .contact-details .contact-icon .contact-info {
    line-height: 55px;
  }
}

.contact .contact-details .contact-icon .contact-info-small {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

.contact .map {
  width: 90%;
  order: 2;
}

.contact .map iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  padding-bottom: 50px;
  order: 1;
  width: 90%;
}

@media (min-width: 768px) {
  .contact .contact-form {
    order: 2;
    padding: 0 50px;
    padding-bottom: 0;
  }
}

.contact .contact-form input,
.contact .contact-form textarea {
  padding: 10px;
  border: 1px solid #fff;
  font-size: 16px;
  font-family: "GothamBook", sans-serif;
  background-color: #fff;
}

.contact .contact-form .name,
.contact .contact-form .email {
  background-color: #fff;
}

.contact .contact-form .name.verify,
.contact .contact-form .email.verify {
  background: url("../img/verif.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}

.contact .contact-form .form-help-message {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.contact .form-sent {
  padding-top: 20px;
  text-align: center;
  color: #fdc66a;
  display: none;
}

.contact .form-sent.show {
  display: block;
}

.contact .form-sent i {
  color: green;
  font-size: 24px;
}

footer {
  background-color: #0c0c0c;
}

footer .footer-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  footer .footer-row {
    flex-direction: row;
  }
}

footer .footer-row .copyright {
  color: #fff;
  margin: 20px 50px;
  order: 2;
  text-align: center;
}

@media (min-width: 768px) {
  footer .footer-row .copyright {
    margin: 0;
    order: 1;
  }
}

footer .footer-row .copyright .yellow {
  color: #fdc66a;
}

footer .socials {
  margin: 20px;
  margin-bottom: 0px;
  order: 1;
}

@media (min-width: 768px) {
  footer .socials {
    margin: 0;
    order: 2;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.modal-bg.hide {
  display: none;
}

.modal-bg .modal-content {
  background-color: #fdc66a;
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-top-right-radius: 30px;
}

.modal-bg .modal-content .modal-text {
  font-family: "Gotham", sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin: 20px;
}

.modal-bg .modal-content .fa-times-circle {
  position: absolute;
  top: -22px;
  right: -20px;
  z-index: 1001;
  color: #fdc66a;
}
/*# sourceMappingURL=style.css.map */