.about {
    background-color: $bgc2;

    .row-title {
        &:after {
            content: "O mnie";
        }
    }

    .about-img {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media(min-width:992px) {
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }

        img {
            border-bottom: 2px solid $yellow;
        }


    }

    .about-info {
        padding: $base-p;
        width: 80%;

        @media(min-width: 768px) {
            width: 100%;
        }


        .title-text {
            color: $yellow;
            font-family: "Gotham", sans-serif;
            font-size: 28px;
            font-weight: 700;
            line-height: 55px;
        }

        .info {
            color: $white;
            font-family: "GothamBook";
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 20px;
        }

        .info-yellow {
            font-size: 24px;
            color: $yellow;
            margin-bottom: 30px;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            @media(min-width: 992px) {
                flex-direction: row;
            }

            .btn {
                margin-bottom: 20px;

                @media(min-width: 768px) {
                    margin-right: 40px;
                }
            }
        }
    }
}