.limit-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}



.grid {
    display: grid;
    padding: 30px 0;
    grid-template-columns: 1fr;
    height: 100%;
    overflow: hidden;

    @media(min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn {
    padding: 20px 30px;
    background-color: $yellow;
    color: $bgc;
    border: 1px solid $yellow;
    font-family: "Gotham";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.38px;
    border-radius: 5px;
    transition: .3s;


    &:hover {
        background-color: transparent;
        color: $white;
    }
}

.jumbotron {
    background-color: rgba(253, 198, 106, 1);
    padding-bottom: 100px;


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;

        @media(min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }


    }
}

.row {
    text-align: center;
    margin-bottom: 50px;

    .row-title {
        font-size: 36px;
        font-family: "Gotham", sans-serif;
        color: $yellow;
        line-height: 55px;
        font-weight: 700;

        &.light {
            color: $bgc;
        }


    }

    .row-subtitle {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}

.section-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
}