.contact {
    background-color: $bgc2;

    .row-title {
        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            font-family: "Gotham", sans-serif;
            font-size: 38px;
            font-weight: bolder;
            color: $titleAfter;
            content: "Kontakt";
            text-transform: uppercase;
            z-index: -10;

            @media(min-width: 768px) {
                font-size: 72px;
            }

            @media(min-width: 992px) {
                letter-spacing: 7px;
                font-size: 82px;
            }

            @media(min-width: 1200px) {
                font-size: 98px;
                letter-spacing: 10px;
            }
        }
    }

    .contact-details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .photo {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            overflow: hidden;


            img {
                width: 100%;
                height: auto;
            }
        }

        .contact-icon {
            i {
                padding-right: 20px;
            }

            .contact-info {
                font-size: 18px;
                color: $white;
                line-height: 55px;
                text-transform: uppercase;
                font-family: "Gotham", sans-serif;
            }

            .contact-info-small {
                color: $white;
                opacity: 0.5;
                font-size: 14px;
            }
        }
    }
}