.features {
    background-color: $bgc;
    padding-bottom: 100px;

    .row-title {
        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            font-family: "Gotham", sans-serif;
            font-size: 38px;
            font-weight: bolder;
            color: $titleAfter;
            content: "Cechy";
            text-transform: uppercase;
            z-index: -10;

            @media(min-width: 768px) {
                font-size: 72px;
            }

            @media(min-width: 992px) {
                letter-spacing: 7px;
                font-size: 82px;
            }

            @media(min-width: 1200px) {
                font-size: 98px;
                letter-spacing: 10px;
            }
        }
    }


    .features-icon-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        .features-icon {
            text-align: center;
            // background-color: $titleAfter;
            padding: $base-p;

            &:hover {
                box-shadow: 5px 5px 8px 0px rgba(255, 255, 255, 0.75);
                transform: translateY(-2px);
            }

            .features-name {
                font-size: 24px;
                margin-bottom: 10px;
                color: $yellow;
                line-height: 55px;
            }
        }
    }
}