header {
    background-color: $bgc;
    min-height: 100vh;

    .heading {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr;

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .heading-main {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: $base-p;
            order: 2;
            position: relative;


            @media(min-width:768px) {
                order: 1;
            }

            .main-welcome {
                font-size: $base-s;
                line-height: 55px;
                font-weight: 400;
            }

            .main-name {
                font-family: "Gotham";
                color: $white;
                font-size: $base-s *2;
                font-weight: 700;
                line-height: 55px;

                span {
                    color: $yellow;
                }
            }

            .main-prof {
                font-family: "Gotham";
                font-weight: 500;
                line-height: 55px;
                font-size: 30px;
                margin-bottom: 50px;
            }

            .socials {
                margin-top: 30px;
                display: flex;

                a {
                    margin: 20px;
                    margin-left: 0;
                    position: relative;
                    z-index: 1;
                    height: 40px;
                    width: 40px;
                    background-color: $grey2;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        background-color: $yellow;

                    }

                    i {
                        color: $bgc;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 20px;
                    }

                }
            }

        }

        .img {
            order: 1;
            text-align: center;
            position: relative;
            z-index: 2;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border: 5px solid $yellow;
                transform: translate(10%, 0%) rotate(-10deg) scale(0.55);
                z-index: -1;
            }

            @media(min-width:768px) {
                order: 2;
            }
        }
    }
}