header {
    background-color: $bgc;
    // min-height: 100vh;
    overflow: hidden;



    .heading {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;



        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            margin: 140px 0;
        }

        .heading-main {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: $base-p;
            order: 2;
            position: relative;


            @media(min-width:768px) {
                order: 1;
            }

            .main-welcome {
                font-size: $base-s;
                line-height: 55px;
                font-weight: 400;
            }

            .main-name {
                font-family: "Gotham";
                color: $white;
                font-size: $base-s *2;
                font-weight: 700;
                line-height: 55px;

                span {
                    color: $yellow;
                }
            }

            .main-prof {
                font-family: "Gotham";
                font-weight: 500;
                line-height: 55px;
                font-size: 30px;
                margin-bottom: 50px;
            }

            .socials {
                margin-top: 30px;
                display: flex;

                a {
                    margin: 20px;
                    margin-left: 0;
                    position: relative;
                    z-index: 1;
                    height: 40px;
                    width: 40px;
                    // background-color: $bgc2;
                    border: 1px solid $grey2;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        background-color: $yellow;

                    }

                    i {
                        color: $grey2;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 20px;
                    }

                }
            }

        }

        .img {
            display: none;
            order: 1;
            text-align: center;
            position: relative;
            z-index: 2;
            max-width: 100%;
            border-bottom: 2px solid $yellow;

            @media(min-width: 768px) {
                display: block;
            }




            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                height: 200px;
                width: 200px;
                border: 5px solid $yellow;
                opacity: 1;
                transform: translate(-40%, -60%) rotate(-20deg);
                z-index: -1;
            }


            @media(min-width:768px) {
                order: 2;
            }
        }
    }

    .page-up {
        position: fixed;
        bottom: 20px;
        right: 0px;
        color: $yellow;
        background-color: $bgc;
        width: 30px;
        padding: 10px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 5px;
        border: 3px solid $yellow;
        transform: translateX(100%);
        transition: .5s;

        &.show {
            transform: translateX(10%);
        }
    }
}