.hireMe {
    background-color: $yellow;
    // background-color: $bgc;
    padding: 50px 20px;

    .hireMe-container {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        justify-content: space-between;

        .hire-img {
            border-bottom: 2px solid $bgc;
            display: none;

            @media(min-width: 768px) {
                display: block;
            }
        }

        .hire-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hire-title {
                font-size: 32px;
                font-weight: bold;
                line-height: 55px;
            }

            .hire-subtitle {
                line-height: 30px;
                margin-bottom: 50px;
            }
        }

        .btn {
            background-color: $bgc;
            color: $white;
            border: 1px solid $bgc;

            &:hover {
                background-color: $yellow;
                border: 1px solid $bgc;
            }
        }
    }
}