.jumbotron-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
    padding-bottom: 0px;

    .jumbotron-row {
        text-align: center;
        margin-bottom: 0px;

        .row-title {
            font-size: 32px;
            font-family: "Gotham", sans-serif;
            color: $yellow;
            line-height: 36px;
            font-weight: 700;
            color: $bgc;



        }

        .row-subtitle {
            color: $white;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
    }
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    transition: .3s;

    img {
        border: 1px solid $yellow;
        border-radius: 50%;
        padding: 20px;
    }

    &:hover {
        transform: scale(1.05);

        img {
            border: 1px solid $bgc;
        }

    }

    .interests {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 24px;
        text-transform: capitalize;
    }


}