nav {
    background-color: $bgc;


    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;


        .nav-brand {
            z-index: 110;
        }

        .nav-links {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px 0;
            transition: .3s;
            z-index: 100;
            background-color: rgba(12, 12, 12, .7);
            transform: translateY(-120%);

            @media(min-width: 768px) {
                position: static;
                top: 0;
                width: initial;
                flex-direction: row;
                padding: 0;
                transform: translateY(0);
            }

            &.open {
                transform: translateY(0);

                @media(min-width: 768px) {
                    transform: translateY(0);
                }
            }

            .nav-item {
                margin: 30px 15px;
                position: relative;
                z-index: 2;

                &.active a {
                    color: $yellow;
                }

                &::before {
                    position: absolute;
                    top: -180%;
                    left: -80%;
                    font-size: 2em;
                    font-weight: bold;
                    letter-spacing: 5px;
                    z-index: -1;
                    color: $yellow;
                    opacity: 0;
                    transition: .3s;

                    @media(min-width: 768px) {
                        display: none;
                    }
                }

                &:hover {
                    &::before {
                        opacity: 0.1;
                    }
                }



                &:nth-child(1) {
                    &::before {
                        content: "HOME";
                    }
                }

                &:nth-child(2) {
                    &::before {
                        content: "OMNIE";
                    }
                }

                &:nth-child(3) {
                    &::before {
                        content: "UMIEJĘTNOŚCI";
                    }
                }

                &:nth-child(4) {
                    &::before {
                        content: "PROJEKTY";
                    }
                }

                &:nth-child(5) {
                    &::before {
                        content: "KONTAKT";
                    }
                }

                @media(min-width: 992px) {
                    margin: 30px 25px;
                }


                .nav-link {
                    text-decoration: none;
                    color: $white;
                    text-transform: uppercase;


                    &.active {
                        color: $yellow;

                        &:hover {
                            color: $yellowHover2;
                        }

                    }

                    &:hover {
                        color: $yellowHover;
                    }
                }

            }
        }


        .nav-button {
            z-index: 1000;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            transition: .3s;
            position: fixed;
            top: 20px;
            right: 10px;



            .btn-line {
                height: 2px;
                width: 26px;
                background-color: white;
                margin: 3px;
                transition: .3s;

                &:nth-child(1) {
                    width: 12px;
                }

                &:nth-child(2) {
                    width: 20px;
                }

                &:nth-child(3) {
                    width: 26px;
                }




            }

            &.open .btn-line {
                &:nth-child(1) {
                    width: 26px;
                }

                &:nth-child(2) {
                    width: 20px;
                }

                &:nth-child(3) {
                    width: 12px;
                }
            }


            @media(min-width: 768px) {
                display: none;
            }
        }
    }
}