.projects {
    background-color: $bgc2;
    padding-bottom: 100px;

    .row-title {
        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            font-family: "Gotham", sans-serif;
            font-size: 38px;
            font-weight: bolder;
            color: $titleAfter;
            content: "Projekty";
            text-transform: uppercase;
            z-index: -10;

            @media(min-width: 768px) {
                font-size: 72px;
            }

            @media(min-width: 992px) {
                letter-spacing: 7px;
                font-size: 82px;
            }

            @media(min-width: 1200px) {
                font-size: 98px;
                letter-spacing: 10px;
            }
        }
    }



    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px;
        background-color: $bgc;
        overflow: hidden;

        .imgBox {

            width: 100%;


            img {
                width: 100%;
            }
        }

        .details {
            color: $white;
        }
    }

    .swiper-pagination {
        // background-color: white;
        cursor: pointer;

        .swiper-pagination-bullet {
            background-color: $white;

        }

        .swiper-pagination-bullet-active {
            background-color: $yellow;
        }
    }
}