.skills {
    background-color: $bgc;

    .row-title {
        &:after {
            content: "Umiejętności";
        }
    }

    .icons-container {
        display: flex;
        flex-wrap: wrap;
        padding: $base-p;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 80%;

        @media(min-width:768px) {
            width: 100%;
        }


        .skills-single-icon {
            // margin: 10px;
            border-radius: 50%;
            overflow: hidden;
            height: 100px;
            width: 100px;
            margin: 20px;

            &:nth-child(7) {
                background-color: white;
            }

            &:nth-child(8) {
                background-color: white;
            }

            img {
                width: 100%;
            }
        }
    }

    .progress-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $base-p;
        width: 80%;

        .technology,
        .description {
            color: $white;
        }

        .technology {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 55px;
        }

        .description {
            margin-bottom: 100px;
        }



        .progress-bar {
            height: 8px;
            border: 1px solid $bgc2;
            background-color: $white;
            border-radius: 5px;

            .content {
                width: 80%;
                height: 100%;
                background-color: $yellow;
                position: relative;
                transition: 1s;

                .procent {
                    position: absolute;
                    top: -30px;
                    right: -30px;
                    color: $white;
                }
            }
        }
    }
}