$white: #fff;
$yellow: #fdc66a;
$yellowHover: lighten(#fdc66a, 20%);
$yellowHover2: darken(#fdc66a, 10%);
$grey: #666666;
$bgc: #0c0c0c;
$grey2: #333333;
$bgc2: #111111;
$titleAfter: #181818;
// paddings
$base-p: 20px;
$base-p2:50px;

// sizes
$base-s: 24px;